section#concept {
  .title {

    margin-top: -6vw;
    margin-bottom: -1vw;
    text-align: center;

    span {
      color: #333;
      font-size: 5vw;
      font-weight: 900;
    }
  }

  .testimonial-info {
    width: 90%;
    max-width: 900px;    
    margin: 0 auto;
    font-size: 20px;
  }

  .concept-frame {
    overflow-y: scroll;
    color: black;
    width: 90%;
    max-width: 900px;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    padding: 25px;

    h2, h3, h4 {
      color: #bbb;
    }

    h2 {
      font-size: 2.5em;
    }

    h3 {
      font-size: 2.2em;
    }

    h4 {
      margin-top: 60px;
      font-size: 2em;
    }

    p, li {
      font-size: 1.45em;
      line-height: 1.7em;
      text-align: left;

    }

  }
}