#themes {
  img.sprachexperten {
    max-width: 1024px;
    width: 70%;
  }

  .sprachexperte {
  	position: relative;
    height: 300px;
    background-color: #eee;
  }

  .sprachexperte img {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
  }

  .media {
    margin-top: 60px;
  }

  .content-row {
    margin-bottom: 180px;
  }

  .media-heading {
    background: @themeDarkSmallGradient;
    padding: 10px;
    font-size: 1.3em;
    font-weight: 700;
  }

  a {
    color: black;
  }
}